DROP TABLE CHARLASALUMNOS
DROP TABLE CURSOSUSUARIOSTAJAMAR
DROP VIEW V_CHARLASALUMNOS_CURSOS
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHARLASALUMNOS](
	[IDCHARLA] [int] NOT NULL,
	[TITULO] [nvarchar](200) NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[TIEMPO] [int] NULL,
	[FECHAPROPUESTA] [datetime] NULL,
	[IDUSUARIO] [int] NULL,
	[IDESTADOCHARLA] [int] NULL,
	[IDRONDA] [int] NULL,
	[IMAGENCHARLA] [nvarchar](500) NULL,
 CONSTRAINT [PK_CHARLASALUMNOS] PRIMARY KEY CLUSTERED 
(
	[IDCHARLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CURSOSUSUARIOSTAJAMAR]    Script Date: 19/02/2025 13:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURSOSUSUARIOSTAJAMAR](
	[IDCURSOSUSUARIOS] [int] NOT NULL,
	[IDCURSO] [int] NULL,
	[IDUSUARIO] [int] NULL,
 CONSTRAINT [PK_CURSOSUSUARIOSTAJAMAR] PRIMARY KEY CLUSTERED 
(
	[IDCURSOSUSUARIOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CURSOSTAJAMAR]    Script Date: 19/02/2025 13:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURSOSTAJAMAR](
	[IDCURSO] [int] NOT NULL,
	[NOMBRE] [nvarchar](150) NULL,
	[FECHAINICIO] [datetime] NULL,
	[FECHAFIN] [datetime] NULL,
	[ACTIVO] [bit] NULL,
 CONSTRAINT [PK_CURSOSTAJAMAR] PRIMARY KEY CLUSTERED 
(
	[IDCURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOCHARLASTAJAMAR]    Script Date: 19/02/2025 13:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOCHARLASTAJAMAR](
	[IDESTADOCHARLA] [int] NOT NULL,
	[ESTADO] [nvarchar](150) NULL,
 CONSTRAINT [PK_ESTADOCHARLASTAJAMAR] PRIMARY KEY CLUSTERED 
(
	[IDESTADOCHARLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOSTAJAMAR]    Script Date: 19/02/2025 13:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOSTAJAMAR](
	[IDUSUARIO] [int] NOT NULL,
	[NOMBRE] [nvarchar](70) NULL,
	[APELLIDOS] [nvarchar](70) NULL,
	[EMAIL] [nvarchar](70) NULL,
	[ESTADO] [bit] NULL,
	[IMAGEN] [nvarchar](600) NULL,
	[PASSWORD] [nvarchar](100) NULL,
	[IDROLE] [int] NULL,
 CONSTRAINT [PK_USUARIOSTAJAMAR] PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_CHARLASALUMNOS_CURSOS]    Script Date: 19/02/2025 13:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_CHARLASALUMNOS_CURSOS]
as
select CHARLASALUMNOS.*, CURSOSUSUARIOSTAJAMAR.IDCURSO,
ESTADOCHARLASTAJAMAR.ESTADO, USUARIOSTAJAMAR.NOMBRE + ' ' 
+ USUARIOSTAJAMAR.APELLIDOS as USUARIO
, CURSOSTAJAMAR.NOMBRE as NOMBRECURSO
from CHARLASALUMNOS
inner join CURSOSUSUARIOSTAJAMAR
on CHARLASALUMNOS.IDUSUARIO = CURSOSUSUARIOSTAJAMAR.IDUSUARIO
inner join ESTADOCHARLASTAJAMAR
on CHARLASALUMNOS.IDESTADOCHARLA = ESTADOCHARLASTAJAMAR.IDESTADOCHARLA
inner join USUARIOSTAJAMAR
on CHARLASALUMNOS.IDUSUARIO = USUARIOSTAJAMAR.IDUSUARIO
inner join CURSOSTAJAMAR
on CURSOSUSUARIOSTAJAMAR.IDCURSO = CURSOSTAJAMAR.IDCURSO
GO
/****** Object:  Table [dbo].[VOTOSCHARLASALUMNOS]    Script Date: 19/02/2025 13:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOTOSCHARLASALUMNOS](
	[IDVOTO] [int] NOT NULL,
	[IDCHARLA] [int] NULL,
	[IDUSUARIOVOTANTE] [int] NULL,
	[IDRONDA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVOTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_VOTOS_CHARLAS]    Script Date: 19/02/2025 13:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create VIEW [dbo].[V_VOTOS_CHARLAS]
AS
select count(VOTOSCHARLASALUMNOS.IDVOTO) as VOTOS
, V_CHARLASALUMNOS_CURSOS.IDCHARLA
, V_CHARLASALUMNOS_CURSOS.IDRONDA
, V_CHARLASALUMNOS_CURSOS.IDCURSO
, V_CHARLASALUMNOS_CURSOS.TITULO
from VOTOSCHARLASALUMNOS
right join V_CHARLASALUMNOS_CURSOS
on VOTOSCHARLASALUMNOS.IDCHARLA = V_CHARLASALUMNOS_CURSOS.IDCHARLA
GROUP BY V_CHARLASALUMNOS_CURSOS.IDCHARLA
, V_CHARLASALUMNOS_CURSOS.TITULO
, V_CHARLASALUMNOS_CURSOS.IDRONDA
, V_CHARLASALUMNOS_CURSOS.IDCURSO
GO
/****** Object:  Table [dbo].[ROLESCHARLASTAJAMAR]    Script Date: 19/02/2025 13:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLESCHARLASTAJAMAR](
	[IDROLE] [int] NOT NULL,
	[ROLE] [nvarchar](100) NULL,
 CONSTRAINT [PK_ROLESCHARLASTAJAMAR] PRIMARY KEY CLUSTERED 
(
	[IDROLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_USUARIOS_CURSO]    Script Date: 19/02/2025 13:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_USUARIOS_CURSO]
AS
select 
USUARIOSTAJAMAR.IDUSUARIO
, USUARIOSTAJAMAR.NOMBRE + ' ' + USUARIOSTAJAMAR.APELLIDOS
as USUARIO
, USUARIOSTAJAMAR.ESTADO
, USUARIOSTAJAMAR.IMAGEN
, USUARIOSTAJAMAR.EMAIL
, USUARIOSTAJAMAR.IDROLE
, ROLESCHARLASTAJAMAR.ROLE
, CURSOSTAJAMAR.IDCURSO
, CURSOSTAJAMAR.NOMBRE as NOMBRECURSO
, CURSOSTAJAMAR.FECHAINICIO
, CURSOSTAJAMAR.FECHAFIN
, CURSOSUSUARIOSTAJAMAR.IDCURSOSUSUARIOS
from USUARIOSTAJAMAR
inner join ROLESCHARLASTAJAMAR
ON USUARIOSTAJAMAR.IDROLE = ROLESCHARLASTAJAMAR.IDROLE
inner join CURSOSUSUARIOSTAJAMAR
on USUARIOSTAJAMAR.IDUSUARIO = CURSOSUSUARIOSTAJAMAR.IDUSUARIO
inner join CURSOSTAJAMAR
on CURSOSTAJAMAR.IDCURSO = CURSOSUSUARIOSTAJAMAR.IDCURSO
where CURSOSTAJAMAR.ACTIVO = 1
GO
/****** Object:  Table [dbo].[COMENTARIOSCHARLASALUMNOS]    Script Date: 19/02/2025 13:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMENTARIOSCHARLASALUMNOS](
	[IDCOMENTARIO] [int] NOT NULL,
	[IDCHARLA] [int] NULL,
	[IDUSUARIO] [int] NULL,
	[CONTENIDO] [nvarchar](500) NULL,
	[FECHA] [datetime] NULL,
 CONSTRAINT [PK_COMENTARIOSCHARLASALUMNOS] PRIMARY KEY CLUSTERED 
(
	[IDCOMENTARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_COMENTARIOSCHARLASALUMNOS]    Script Date: 19/02/2025 13:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_COMENTARIOSCHARLASALUMNOS]
AS
select COMENTARIOSCHARLASALUMNOS.IDCOMENTARIO, 
COMENTARIOSCHARLASALUMNOS.IDCHARLA, COMENTARIOSCHARLASALUMNOS.IDUSUARIO
, COMENTARIOSCHARLASALUMNOS.CONTENIDO, COMENTARIOSCHARLASALUMNOS.FECHA
, USUARIOSTAJAMAR.NOMBRE + ' ' + USUARIOSTAJAMAR.APELLIDOS as USUARIO
from COMENTARIOSCHARLASALUMNOS
inner join USUARIOSTAJAMAR
on COMENTARIOSCHARLASALUMNOS.IDUSUARIO = USUARIOSTAJAMAR.IDUSUARIO
GO
/****** Object:  View [dbo].[V_USUARIOS_CURSO_INACTIVOS]    Script Date: 19/02/2025 13:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_USUARIOS_CURSO_INACTIVOS]
AS
select 
USUARIOSTAJAMAR.IDUSUARIO
, USUARIOSTAJAMAR.NOMBRE + ' ' + USUARIOSTAJAMAR.APELLIDOS
as USUARIO
, USUARIOSTAJAMAR.ESTADO
, USUARIOSTAJAMAR.IMAGEN
, USUARIOSTAJAMAR.EMAIL
, USUARIOSTAJAMAR.IDROLE
, ROLESCHARLASTAJAMAR.ROLE
, CURSOSTAJAMAR.IDCURSO
, CURSOSTAJAMAR.NOMBRE as NOMBRECURSO
, CURSOSTAJAMAR.FECHAINICIO
, CURSOSTAJAMAR.FECHAFIN
, CURSOSUSUARIOSTAJAMAR.IDCURSOSUSUARIOS
from USUARIOSTAJAMAR
inner join ROLESCHARLASTAJAMAR
ON USUARIOSTAJAMAR.IDROLE = ROLESCHARLASTAJAMAR.IDROLE
inner join CURSOSUSUARIOSTAJAMAR
on USUARIOSTAJAMAR.IDUSUARIO = CURSOSUSUARIOSTAJAMAR.IDUSUARIO
inner join CURSOSTAJAMAR
on CURSOSTAJAMAR.IDCURSO = CURSOSUSUARIOSTAJAMAR.IDCURSO
where CURSOSTAJAMAR.ACTIVO = 0
GO
/****** Object:  View [dbo].[V_CHARLASALUMNOS_CURSOS_VOTOS]    Script Date: 19/02/2025 13:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_CHARLASALUMNOS_CURSOS_VOTOS]
as
select CHARLASALUMNOS.*, CURSOSUSUARIOSTAJAMAR.IDCURSO,
ESTADOCHARLASTAJAMAR.ESTADO, USUARIOSTAJAMAR.NOMBRE + ' ' 
+ USUARIOSTAJAMAR.APELLIDOS as USUARIO
, CURSOSTAJAMAR.NOMBRE as NOMBRECURSO
, isnull(V_VOTOS_CHARLAS.VOTOS, 0) as VOTOS
from CHARLASALUMNOS
inner join CURSOSUSUARIOSTAJAMAR
on CHARLASALUMNOS.IDUSUARIO = CURSOSUSUARIOSTAJAMAR.IDUSUARIO
inner join ESTADOCHARLASTAJAMAR
on CHARLASALUMNOS.IDESTADOCHARLA = ESTADOCHARLASTAJAMAR.IDESTADOCHARLA
inner join USUARIOSTAJAMAR
on CHARLASALUMNOS.IDUSUARIO = USUARIOSTAJAMAR.IDUSUARIO
inner join CURSOSTAJAMAR
on CURSOSUSUARIOSTAJAMAR.IDCURSO = CURSOSTAJAMAR.IDCURSO
full JOIN V_VOTOS_CHARLAS
ON CHARLASALUMNOS.IDCHARLA = V_VOTOS_CHARLAS.IDCHARLA
GO
/****** Object:  Table [dbo].[RECURSOSCHARLASALUMNOS]    Script Date: 19/02/2025 13:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECURSOSCHARLASALUMNOS](
	[IDRECURSO] [int] NOT NULL,
	[IDCHARLA] [int] NULL,
	[URL] [nvarchar](2000) NULL,
	[NOMBRE] [nvarchar](150) NULL,
	[DESCRIPCION] [nvarchar](600) NULL,
 CONSTRAINT [PK_RECURSOSCHARLASALUMNOS] PRIMARY KEY CLUSTERED 
(
	[IDRECURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RONDASCHARLASALUMNOS]    Script Date: 19/02/2025 13:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RONDASCHARLASALUMNOS](
	[IDRONDA] [int] NOT NULL,
	[IDCURSOSUSUARIOS] [int] NULL,
	[FECHAPRESENTACION] [datetime] NULL,
	[FECHACIERRE] [datetime] NULL,
	[DURACIONCHARLA] [int] NULL,
	[DESCRIPCIONMODULO] [nvarchar](200) NULL,
	[FECHALIMITEVOTACION] [datetime] NULL,
 CONSTRAINT [PK_RONDASCHARLASALUMNOS] PRIMARY KEY CLUSTERED 
(
	[IDRONDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CURSOSTAJAMAR] ([IDCURSO], [NOMBRE], [FECHAINICIO], [FECHAFIN], [ACTIVO]) VALUES (3213, N'Master Desarrollo de aplicaciones Cloud', CAST(N'2024-01-10T00:00:00.000' AS DateTime), CAST(N'2025-03-06T00:00:00.000' AS DateTime), 1)
GO
INSERT [dbo].[CURSOSUSUARIOSTAJAMAR] ([IDCURSOSUSUARIOS], [IDCURSO], [IDUSUARIO]) VALUES (1, 3213, 31)
GO
INSERT [dbo].[ESTADOCHARLASTAJAMAR] ([IDESTADOCHARLA], [ESTADO]) VALUES (1, N'PROPUESTA')
INSERT [dbo].[ESTADOCHARLASTAJAMAR] ([IDESTADOCHARLA], [ESTADO]) VALUES (2, N'ACEPTADA')
GO
INSERT [dbo].[ROLESCHARLASTAJAMAR] ([IDROLE], [ROLE]) VALUES (1, N'PROFESOR')
INSERT [dbo].[ROLESCHARLASTAJAMAR] ([IDROLE], [ROLE]) VALUES (2, N'ALUMNO')
INSERT [dbo].[ROLESCHARLASTAJAMAR] ([IDROLE], [ROLE]) VALUES (3, N'ADMINISTRADOR')
GO
INSERT [dbo].[USUARIOSTAJAMAR] ([IDUSUARIO], [NOMBRE], [APELLIDOS], [EMAIL], [ESTADO], [IMAGEN], [PASSWORD], [IDROLE]) VALUES (31, N'Paco', N'Garcia Serrano', N'paco.garcia.serrano@tajamar365.com', 1, N'nouser.png', N'OFi9W3uf5kGsaxyTqF1ZFQ==', 1)
INSERT [dbo].[USUARIOSTAJAMAR] ([IDUSUARIO], [NOMBRE], [APELLIDOS], [EMAIL], [ESTADO], [IMAGEN], [PASSWORD], [IDROLE]) VALUES (32, N'Admin', N'Admin', N'admin@tajamar365.com', 1, N'nouser.png', N'OFi9W3uf5kGsaxyTqF1ZFQ==', 3)
GO
/****** Object:  Index [u_charlas_idusuario_idronda]    Script Date: 19/02/2025 13:47:06 ******/
ALTER TABLE [dbo].[CHARLASALUMNOS] ADD  CONSTRAINT [u_charlas_idusuario_idronda] UNIQUE NONCLUSTERED 
(
	[IDUSUARIO] ASC,
	[IDRONDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [u_idcurso_idusuario]    Script Date: 19/02/2025 13:47:06 ******/
ALTER TABLE [dbo].[CURSOSUSUARIOSTAJAMAR] ADD  CONSTRAINT [u_idcurso_idusuario] UNIQUE NONCLUSTERED 
(
	[IDCURSO] ASC,
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [u_mailuser]    Script Date: 19/02/2025 13:47:06 ******/
ALTER TABLE [dbo].[USUARIOSTAJAMAR] ADD  CONSTRAINT [u_mailuser] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [u_votos_idusuario_idronda]    Script Date: 19/02/2025 13:47:06 ******/
ALTER TABLE [dbo].[VOTOSCHARLASALUMNOS] ADD  CONSTRAINT [u_votos_idusuario_idronda] UNIQUE NONCLUSTERED 
(
	[IDUSUARIOVOTANTE] ASC,
	[IDRONDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHARLASALUMNOS]  WITH CHECK ADD  CONSTRAINT [FK_CHARLASALUMNOS_ESTADOCHARLASTAJAMAR] FOREIGN KEY([IDESTADOCHARLA])
REFERENCES [dbo].[ESTADOCHARLASTAJAMAR] ([IDESTADOCHARLA])
GO
ALTER TABLE [dbo].[CHARLASALUMNOS] CHECK CONSTRAINT [FK_CHARLASALUMNOS_ESTADOCHARLASTAJAMAR]
GO
ALTER TABLE [dbo].[CHARLASALUMNOS]  WITH CHECK ADD  CONSTRAINT [FK_CHARLASALUMNOS_RONDASCHARLASALUMNOS] FOREIGN KEY([IDRONDA])
REFERENCES [dbo].[RONDASCHARLASALUMNOS] ([IDRONDA])
GO
ALTER TABLE [dbo].[CHARLASALUMNOS] CHECK CONSTRAINT [FK_CHARLASALUMNOS_RONDASCHARLASALUMNOS]
GO
ALTER TABLE [dbo].[CHARLASALUMNOS]  WITH CHECK ADD  CONSTRAINT [FK_CHARLASALUMNOS_USUARIOSTAJAMAR] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIOSTAJAMAR] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[CHARLASALUMNOS] CHECK CONSTRAINT [FK_CHARLASALUMNOS_USUARIOSTAJAMAR]
GO
ALTER TABLE [dbo].[COMENTARIOSCHARLASALUMNOS]  WITH CHECK ADD  CONSTRAINT [FK_COMENTARIOSCHARLASALUMNOS_CHARLASALUMNOS] FOREIGN KEY([IDCHARLA])
REFERENCES [dbo].[CHARLASALUMNOS] ([IDCHARLA])
GO
ALTER TABLE [dbo].[COMENTARIOSCHARLASALUMNOS] CHECK CONSTRAINT [FK_COMENTARIOSCHARLASALUMNOS_CHARLASALUMNOS]
GO
ALTER TABLE [dbo].[COMENTARIOSCHARLASALUMNOS]  WITH CHECK ADD  CONSTRAINT [FK_COMENTARIOSCHARLASALUMNOS_USUARIOSTAJAMAR] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIOSTAJAMAR] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[COMENTARIOSCHARLASALUMNOS] CHECK CONSTRAINT [FK_COMENTARIOSCHARLASALUMNOS_USUARIOSTAJAMAR]
GO
ALTER TABLE [dbo].[CURSOSUSUARIOSTAJAMAR]  WITH CHECK ADD  CONSTRAINT [FK_CURSOSUSUARIOSTAJAMAR_CURSOSTAJAMAR] FOREIGN KEY([IDCURSO])
REFERENCES [dbo].[CURSOSTAJAMAR] ([IDCURSO])
GO
ALTER TABLE [dbo].[CURSOSUSUARIOSTAJAMAR] CHECK CONSTRAINT [FK_CURSOSUSUARIOSTAJAMAR_CURSOSTAJAMAR]
GO
ALTER TABLE [dbo].[CURSOSUSUARIOSTAJAMAR]  WITH CHECK ADD  CONSTRAINT [FK_CURSOSUSUARIOSTAJAMAR_USUARIOSTAJAMAR] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIOSTAJAMAR] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[CURSOSUSUARIOSTAJAMAR] CHECK CONSTRAINT [FK_CURSOSUSUARIOSTAJAMAR_USUARIOSTAJAMAR]
GO
ALTER TABLE [dbo].[RECURSOSCHARLASALUMNOS]  WITH CHECK ADD  CONSTRAINT [FK_RECURSOSCHARLASALUMNOS_CHARLASALUMNOS] FOREIGN KEY([IDCHARLA])
REFERENCES [dbo].[CHARLASALUMNOS] ([IDCHARLA])
GO
ALTER TABLE [dbo].[RECURSOSCHARLASALUMNOS] CHECK CONSTRAINT [FK_RECURSOSCHARLASALUMNOS_CHARLASALUMNOS]
GO
ALTER TABLE [dbo].[RONDASCHARLASALUMNOS]  WITH CHECK ADD  CONSTRAINT [FK_RONDASCHARLASALUMNOS_CURSOSUSUARIOSTAJAMAR2] FOREIGN KEY([IDCURSOSUSUARIOS])
REFERENCES [dbo].[CURSOSUSUARIOSTAJAMAR] ([IDCURSOSUSUARIOS])
GO
ALTER TABLE [dbo].[RONDASCHARLASALUMNOS] CHECK CONSTRAINT [FK_RONDASCHARLASALUMNOS_CURSOSUSUARIOSTAJAMAR2]
GO
ALTER TABLE [dbo].[USUARIOSTAJAMAR]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOSTAJAMAR_ROLESCHARLASTAJAMAR] FOREIGN KEY([IDROLE])
REFERENCES [dbo].[ROLESCHARLASTAJAMAR] ([IDROLE])
GO
ALTER TABLE [dbo].[USUARIOSTAJAMAR] CHECK CONSTRAINT [FK_USUARIOSTAJAMAR_ROLESCHARLASTAJAMAR]
GO
ALTER TABLE [dbo].[VOTOSCHARLASALUMNOS]  WITH CHECK ADD  CONSTRAINT [FK_VOTOSCHARLASALUMNOS_CHARLASALUMNOS] FOREIGN KEY([IDCHARLA])
REFERENCES [dbo].[CHARLASALUMNOS] ([IDCHARLA])
GO
ALTER TABLE [dbo].[VOTOSCHARLASALUMNOS] CHECK CONSTRAINT [FK_VOTOSCHARLASALUMNOS_CHARLASALUMNOS]
GO
ALTER TABLE [dbo].[VOTOSCHARLASALUMNOS]  WITH CHECK ADD  CONSTRAINT [FK_VOTOSCHARLASALUMNOS_RONDASCHARLASALUMNOS] FOREIGN KEY([IDRONDA])
REFERENCES [dbo].[RONDASCHARLASALUMNOS] ([IDRONDA])
GO
ALTER TABLE [dbo].[VOTOSCHARLASALUMNOS] CHECK CONSTRAINT [FK_VOTOSCHARLASALUMNOS_RONDASCHARLASALUMNOS]
GO
ALTER TABLE [dbo].[VOTOSCHARLASALUMNOS]  WITH CHECK ADD  CONSTRAINT [FK_VOTOSCHARLASALUMNOS_USUARIOSTAJAMAR] FOREIGN KEY([IDUSUARIOVOTANTE])
REFERENCES [dbo].[USUARIOSTAJAMAR] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[VOTOSCHARLASALUMNOS] CHECK CONSTRAINT [FK_VOTOSCHARLASALUMNOS_USUARIOSTAJAMAR]
GO

