<h1>Upload Files Net Core</h1>

<form method="post"
    enctype="multipart/form-data">
    <label>Seleccione un fichero</label>
    <input type="file" name="fichero" class="form-control"/>
    <button class="btn btn-info">
        Subir fichero
    </button>
</form>

<h2 style="color:red">@ViewData["MENSAJE"]</h2>
<h2 style="color:blue">@ViewData["URL"]</h2>

<img src='@ViewData["URL"]' 
style="width: 150px; height: 150px"/>

<img src='https://localhost:7239/images/2.jpg'
     style="width: 150px; height: 150px" />

<img src='C:\Users\Profesor MCSD Mañana\Documents\Proyectos\MvcNetCoreUtilidades\MvcNetCoreUtilidades\wwwroot\images\2.jpg'
     style="width: 150px; height: 150px" />